<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake Application</title>
    <link rel="stylesheet" type="text/css" href="/node_modules/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />
    <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />

</head>
<body>
    @RenderBody()
    <app-root></app-root>
    <script src="~/Scripts/polyfills.bundle.js"></script>
    <script src="~/Scripts/app.bundle.js"></script>
</body>
</html>