
<div class="search fa fa-search" (click)="openSearch()"></div>
<div class="bookmark fa fa-bookmark"></div>
<div [class]="standard">
    <label>Client Name Promise</label> <p-autoComplete [(ngModel)]="clientsPromise" [suggestions]="filteredCountriesMultiple" (completeMethod)="filterCountryMultiple($event)" styleClass="wid100"
                                                       [minLength]="1" placeholder="Client Name" field="name" [multiple]="true">
    </p-autoComplete>
    <p (click)="openAdvanced()">Advanced</p>
    <button pButton type="button" (click)="search()" label="Search"></button>
    <button pButton type="button" (click)="customize()" label="Customize" class="ui-button-warning"></button>
</div>
<div [class]="advanced">
    <label>Client Name Observable</label> <p-autoComplete [(ngModel)]="clientsObservable" [suggestions]="results" (completeMethod)="searchClients($event)" styleClass="wid100"
                                                          [minLength]="1" placeholder="Client Name" field="name" [multiple]="true">
    </p-autoComplete>
</div>

